
body { 
    text-align: center;
    
 
}
form {
    display: inline-block;
    width: 40%;
    text-align: left;

}

h1 {
    font-weight: 20px;
    padding: 5%;
    color: black;
    
    
}

.indexButton {
    text-align: right;
}